# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:


	name = Matt Bonnell

	email = matt.bonnell@icloud.com

	[alias]
  		co = checkout
  		c = commit
 		s = status
		ps = push
		pl = pull
  		b = branch
		a = add
		d = diff
  		hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  		type = cat-file -t
  		dump = cat-file -p
[core]
	autocrlf = input
[push]
	default = simple
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
